@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

@import "reset.css";
@import "variables";

@import "element-ui/lib/theme-chalk/container.css";
@import "element-ui/lib/theme-chalk/row.css";
@import "element-ui/lib/theme-chalk/col.css";

@import "element-ui/lib/theme-chalk/dropdown.css";

@import "components/header";
@import "components/footer";

@import "locale/en";
@import "locale/ro";
@import "locale/ru";

@import "error";

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  min-height: 100%;
  background-color: #fff;
  color: #323232;
}

.el-container {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  & > .el-row {
    flex-grow: 1;
    & > .el-col {
      display: flex;
    }
  }
}

.el-main {
  flex-grow: 1;
  overflow: inherit;
  padding: 0;
}

a,
button,
input{
  transition: 0.4s;
}