html[lang="ru"]{
  .header{
    &-info{
      @media (max-width: 400px) {
        flex-wrap: wrap;
      }
      &__text, &__tel {
        @media (max-width: 400px) {
          margin: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .main__join-button{
    @media (max-width: 350px) {
      padding: 14px 28px;
    }
  }
  .footer{
    &-nav > div{
      @media (max-width: 650px) {
        margin: 0;
        width: 100%;
        text-align: center;
      }
    }
  }

}
